.input-container {
  background-color: #eef3f8;
  border: none;
  height: 2rem;
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
  background-color: #eef3f8;
}
.location-container {
  background-color: #eef3f8;
  border: none;
  height: 2rem;
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
  background-color: #eef3f8;
}
